@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,800,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #4d2e19;
}

hr {
  border: 0;
}

h1, h2, h3 {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

P {
  font-family: poppins;
}

.main-container {
  background-color: #f8f8f3;
  width: 100%;
  max-width: 900px;
  padding: 0 32px;
  margin: auto;
}

.main-heading--secondary {
  background-image: url(../images/heading-bg.jpg);
  text-transform: capitalize;
}

.main-heading--secondary {
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 24px 32px;
  color: white;
  text-shadow: 0 0 10px #000, 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 48px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
  width: 100%;
  max-width: 100%;
  margin-top: 96px;
  position: relative;
}

.main-header:before {
  content: '';
  background-image: url(../images/teeth-top.png);
  background-repeat: repeat-x;
  background-position: top 0;
  position: absolute;
  top: -46px;
  left: -32px;
  right: -32px;
  height: 48px;
}

@media (max-width: 634px) {
  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 634px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
}

@media (max-width: 466px) {
  .logo {
    margin-bottom: 0;
  }
}

.main-nav a + a {
  margin-left: 24px;
}

.main-nav {
  margin-top: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

@media (max-width: 634px) {
  .main-nav {
    margin-right: auto;
  }
}

@media (max-width: 466px) {
  .main-nav {
    display: none;
  }
}

.main-nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #4d2e19;
}

.is-active {
  border-bottom: 2px solid brown;
}

.main-footer {
  background-color: #4d2e19;
  background-image: url(../images/teeth-bottom.png);
  background-repeat: repeat-x;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media a {
  text-decoration: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.prod-item {
  width: calc(33.33% - 24px/3);
  position: relative;
  margin-bottom: 24px;
  border: 2px solid #9d9d9d;
  text-align: center;
}

@media (max-width: 604px) {
  .prod-item {
    width: 100%;
  }
}

.prod-item img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.prod-item-desc-hover {
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 12px;
  left: 12px;
  color: #1c0202;
  background-color: rgba(255, 205, 7, 0.583);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.prod-item:hover .prod-item-desc-hover {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 686px) {
  .prod-item-desc-hover {
    position: static;
    color: #1c0202;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.prod-item:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  border: 2px solid black;
  z-index: .5;
}

.qb-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 18px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px #222;
          box-shadow: 0 0 1px #222;
  padding: 24px;
  margin-bottom: 32px;
}

.qb-intro h2 span {
  display: none;
}

.qb-intro-content {
  margin-right: 32px;
}

@media (max-width: 686px) {
  .qb-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .qb-intro-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
  }
  .qb-intro-content h2 {
    text-align: center;
  }
  .qb-intro-content h2 img {
    max-width: 100%;
  }
  .qb-intro-image {
    margin: auto;
    margin-bottom: 32px;
  }
  .qb-intro-image img {
    max-width: 100%;
    width: 100%;
  }
}

.prod-slider {
  position: relative;
  width: calc(100% + 64px);
  margin-left: -32px;
}

@media (max-width: 1194px) {
  .prod-slider {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 1028px) {
  .prod-slider {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 940px) {
  .prod-slider {
    width: 80%;
  }
}

@media (max-width: 772px) {
  .prod-slider {
    width: calc(100% + 64px);
    margin-right: -32px;
    margin-left: -32px;
  }
}

.slider-bg {
  width: 100%;
  max-width: 100%;
}

.slider-frame {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/slide_frame.png);
  background-size: contain;
  height: 100%;
  width: 100%;
}

.slider-frame img {
  position: absolute;
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slider-frame img:nth-child(2) {
  right: 1px;
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (max-width: 1194px) {
  .slider-frame img {
    -webkit-transform: translateX(-96px);
            transform: translateX(-96px);
  }
  .slider-frame img:nth-child(2) {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@media (max-width: 1028px) {
  .slider-frame img {
    -webkit-transform: translateX(-96px);
            transform: translateX(-96px);
  }
  .slider-frame img:nth-child(2) {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@media (max-width: 772px) {
  .slider-frame img {
    display: none;
  }
}

.about-intro {
  padding: 52px 12px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.about-intro p + p {
  margin-top: 24px;
}

@media (max-width: 394px) {
  .about-intro {
    padding: 32px 0;
    font-size: 1rem;
  }
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.about-text {
  margin: 0 36px 0 24px;
}

.about-text abbr {
  text-transform: capitalize;
  font-weight: bold;
}

.about-text p {
  margin-bottom: 24px;
}

aside {
  width: 40%;
  font-weight: bold;
  text-transform: capitalize;
}

aside img {
  width: 100%;
  max-width: 100%;
  padding-top: 24px;
}

@media (max-width: 686px) {
  .main-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content {
    width: 100%;
  }
  .profile-pic {
    margin-right: 24px;
    width: 240px;
  }
  .profile-pic img {
    width: 100%;
    max-width: 100%;
  }
  .about-text {
    margin: 0 0 0 0;
  }
  .about-text h3 {
    margin-bottom: 12px;
  }
  .about-text abbr {
    font-weight: bold;
  }
  aside {
    width: 100%;
  }
  aside p {
    margin-bottom: 24px;
  }
  aside img {
    padding-top: 12px;
  }
}

@media (max-width: 410px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-pic {
    margin-right: 0;
    margin: auto;
    width: 240px;
  }
  .about-text h3 {
    text-align: center;
  }
}

.section-seperator {
  background-image: url(../images/line.png);
  background-position: 50% 50%;
  display: block;
  height: 37px;
  margin-bottom: 48px;
}

.section-seperator.section-seperator--eop {
  margin-bottom: 0;
}

.img-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-map {
  width: calc(50% - 12px/2);
  margin-bottom: 36px;
}

.shop-map img {
  max-width: 100%;
  width: 100%;
}

.aspect-ratio-10 {
  position: relative;
  height: 0%;
  padding-top: 40%;
  width: 50%;
  overflow: hidden;
  width: calc(50% - 12px/2);
  margin-bottom: 36px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rashi-images {
  width: 100%;
  padding-bottom: 12px;
  background-color: #dcd9d9;
}

.rashi {
  width: 100%;
}

.suprete {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin-top: 12px;
}

.suprete img {
  width: 50%;
  margin-left: 12px;
  border: 2px solid rgba(255, 255, 255, 0.871);
}

.shopimg {
  margin-left: 12px;
}

.shopimg img {
  margin-bottom: 15px;
}

.shopimg img {
  width: 88%;
  margin-left: 25px;
}

@media (max-width: 686px) {
  .img-map {
    display: block;
  }
  .shop-map {
    margin-bottom: 36px;
    width: 100%;
    max-width: 100%;
  }
  .shop-map img {
    max-width: 100%;
    width: 100%;
  }
  .shop-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop-map {
    width: 100%;
    margin-bottom: 12px;
  }
  .shop-map img {
    max-width: 100%;
    width: 100%;
  }
  .aspect-ratio-10 {
    position: relative;
    height: 300px;
    padding-top: 40%;
    width: 100%;
    overflow: hidden;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-details h3 {
  padding-bottom: 12px;
}

.form-details {
  width: calc(100% - 300px);
  padding-right: 36px;
}

form {
  width: 100%;
  max-width: 100%;
}

label {
  margin-bottom: 24px;
  display: block;
}

.label-text {
  font-size: .9rem;
}

input, textarea {
  padding: 5px;
  font-family: sans-serif;
  width: 100%;
}

button {
  width: 120px;
  padding: 10px;
  background-color: darkgray;
  border: none;
}

.address-details {
  width: 300px;
  background-color: rgba(225, 223, 223, 0.535);
  padding: 12px 12px 0 12px;
}

.address p {
  line-height: 1.5rem;
}

.address-map {
  margin: auto;
  padding-top: 30px;
  width: 100%;
  height: 300px;
}

.address-map .aspect-ratio-10 {
  position: relative;
  height: 0%;
  width: 100%;
  height: 200px;
  margin-bottom: 36px;
  border: 1px solid black;
  -webkit-box-shadow: .1px 3px 3px #000;
          box-shadow: .1px 3px 3px #000;
  z-index: .1;
}

.address-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  .contact-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-details {
    width: 100%;
    max-width: 100%;
    margin-bottom: 36px;
    padding-right: 0;
  }
  .address-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .address {
    width: calc(50% - 12px/2);
    padding: 12px;
    background-color: rgba(225, 223, 223, 0.535);
  }
  .address-map {
    width: calc(50% - 12px/2);
    margin: 0;
    padding-top: 0;
    padding: 12px;
    background-color: rgba(225, 223, 223, 0.535);
  }
}

@media (max-width: 650px) {
  .address-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 100%;
    background-color: white;
  }
  .address {
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    max-width: 100%;
    background-color: rgba(225, 223, 223, 0.535);
  }
  .address-map {
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding: 12px;
    background-color: rgba(225, 223, 223, 0.535);
  }
}
/*# sourceMappingURL=scanna.css.map */