@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: malayalam-font;
  src: url(../fonts/Rachana-Regular.woff);
}

body {
  background-color: #4d2e19;
}

hr {
  border: 0;
}

h1, h2, h3 {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

P {
  font-family: poppins;
}

.main-container {
  background-color: #f8f8f3;
  width: 100%;
  max-width: 999px;
  margin: auto;
  padding-left: 64px;
  padding-right: 64px;
}

@media (max-width: 749px) {
  .main-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.main-heading--secondary {
  border-bottom: 4px solid #e9bf65;
  color: inherit;
  text-transform: capitalize;
  font-family: 'Satisfy', cursive;
  padding: 24px 32px 12px 0;
  text-align: center;
  color: #3b2c0c;
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 48px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
  width: 100%;
  max-width: 100%;
  margin-top: 96px;
  position: relative;
}

.main-header:before {
  content: '';
  background-image: url(../images/teeth-top.png);
  background-repeat: repeat-x;
  background-position: top 0;
  position: absolute;
  top: -46px;
  left: -64px;
  right: -64px;
  height: 48px;
}

@media (max-width: 749px) {
  .main-header:before {
    left: -32px;
    right: -32px;
  }
}

.home-header .header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (max-width: 634px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 466px) {
  .logo {
    margin-bottom: 0;
  }
}

.main-nav {
  margin-top: auto;
  margin-left: auto;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav a {
  color: #61391e;
  text-decoration: none;
}

.nav-link + .nav-link {
  margin-left: 12px;
}

.nav-link {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

.is-active {
  border-bottom: 2px solid #e9bf65;
}

.dropdown-content {
  position: absolute;
  min-width: 200px;
  -webkit-transform: translateX(-59px);
          transform: translateX(-59px);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.46);
  pointer-events: none;
  opacity: 0;
  z-index: 99;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background-color: #e9e7e7;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.dropdown-content a {
  display: block;
  color: #4d2e19;
  padding: 11px;
  text-decoration: none;
}

.dropdown img {
  width: 12px;
}

.dropdown-content a:hover {
  background-color: #e9bf65;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 634px) {
  .main-nav {
    margin-right: auto;
  }
}

.menu-trigger {
  width: 36px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  padding: 5px;
  display: none;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: grey;
  margin-bottom: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.bar:nth-child(2) {
  top: 10px;
}

.bar:last-child {
  top: auto;
  bottom: 0;
}

@media (max-width: 700px) {
  .main-nav {
    padding-bottom: 0;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 999;
    right: -20px;
    top: calc(50% + 10px);
    background-color: white;
    -webkit-box-shadow: 0 0 30px #999;
            box-shadow: 0 0 30px #999;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main-nav::before {
    content: "";
    position: absolute;
    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -10px;
    right: 28px;
  }
  .nav-link {
    text-align: left;
  }
  .nav-link + .nav-link {
    margin-top: 6px;
  }
  .is-active {
    border-bottom: 0;
    background-color: rgba(204, 204, 204, 0.289);
  }
  .menu-trigger {
    display: block;
    margin: auto 0;
  }
  .dropdown-content {
    position: relative;
    min-width: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    pointer-events: auto;
    opacity: 1;
    background-color: #e9e7e738;
    border-radius: 0;
    margin-top: 0;
  }
  .dropdown img {
    display: none;
  }
  .dropdown-content a {
    display: block;
    color: #61391e;
    padding: 6px;
    font-size: .9rem;
    padding-left: 24px;
  }
  .nav-link + .nav-link {
    margin-left: 0;
  }
  .menu-open .main-nav {
    opacity: 1;
    pointer-events: auto;
  }
  .menu-open .bar:first-child {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-open .bar:last-child {
    bottom: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.main-footer {
  background-color: #4d2e19;
  background-image: url(../images/teeth-bottom.png);
  background-repeat: repeat-x;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media a {
  text-decoration: none;
}

.disply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.disply-item {
  width: calc(33.33% - 24px/3);
  position: relative;
  margin-bottom: 24px;
}

@media (max-width: 604px) {
  .disply-item {
    width: 100%;
  }
}

.disply-item img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.disply-item-desc-hover {
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 12px;
  left: 12px;
  color: #1c0202;
  background-color: rgba(255, 205, 7, 0.583);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.disply-item:hover .disply-item-desc-hover {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 686px) {
  .disply-item-desc-hover {
    position: static;
    color: #1c0202;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.prod-item {
  width: calc(33.33% - 24px/3);
  position: relative;
  margin-bottom: 35px;
  text-align: center;
  -webkit-transition: .1s;
  transition: .1s;
}

.prod-item img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.prod-item:hover {
  z-index: .4;
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

@media (max-width: 604px) {
  .prod-item {
    width: 100%;
  }
}

@media (max-width: 686px) {
  .prod-item-desc-hover {
    position: static;
    color: #1c0202;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.qb-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 18px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px #222;
          box-shadow: 0 0 1px #222;
  padding: 24px;
  margin-bottom: 32px;
}

.qb-intro h2 span {
  display: none;
}

.qb-intro-content {
  margin-right: 32px;
}

@media (max-width: 686px) {
  .qb-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .qb-intro-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
  }
  .qb-intro-content h2 {
    text-align: center;
  }
  .qb-intro-content h2 img {
    max-width: 100%;
  }
  .qb-intro-image {
    margin: auto;
    margin-bottom: 32px;
  }
  .qb-intro-image img {
    max-width: 100%;
    width: 100%;
  }
}

.prod-slider {
  position: relative;
  width: calc(100% - 50px);
  margin: auto;
}

@media (max-width: 1100px) {
  .prod-slider {
    width: calc(100% - 90px);
  }
}

@media (max-width: 1047px) {
  .prod-slider {
    width: calc(100% - 110px);
  }
}

@media (max-width: 772px) {
  .prod-slider {
    width: calc(100% + 64px);
    margin-right: -32px;
    margin-left: -32px;
  }
}

.slider-bg {
  width: 100%;
  max-width: 100%;
}

.slider-frame {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/slide_frame.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.slider-frame img {
  position: absolute;
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slider-frame img:nth-child(2) {
  right: 1px;
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slider-content {
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
  z-index: 1;
}

.slider-content img {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 772px) {
  .slider-frame img {
    display: none;
  }
}

.about-intro {
  padding: 50px 0 12px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
}

@media (max-width: 394px) {
  .about-intro {
    padding: 32px 0;
    font-size: 1rem;
  }
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.about-text {
  margin: 0 36px 0 24px;
}

.about-text abbr {
  text-transform: capitalize;
  font-weight: bold;
}

.about-text p {
  margin-bottom: 24px;
}

aside {
  width: 40%;
  font-weight: bold;
  text-transform: capitalize;
}

aside img {
  width: 100%;
  max-width: 100%;
  padding-top: 24px;
}

@media (max-width: 749px) {
  .main-header:before {
    left: -32px;
    right: -32px;
  }
}

@media (max-width: 686px) {
  .main-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content {
    width: 100%;
  }
  .profile-pic {
    margin-right: 24px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 180px;
  }
  .profile-pic img {
    width: 100%;
    max-width: 100%;
  }
  .about-text {
    margin: 0 0 0 0;
  }
  .about-text h3 {
    margin-bottom: 12px;
  }
  .about-text abbr {
    font-weight: bold;
  }
  aside {
    width: 100%;
  }
  aside p {
    margin-bottom: 24px;
  }
  aside img {
    padding-top: 12px;
  }
}

@media (max-width: 410px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-pic {
    margin-right: 0;
    margin: auto;
    width: 240px;
  }
  .about-text h3 {
    text-align: center;
  }
}

@media (max-width: 520px) {
  .profile-pic {
    width: 140px;
    padding-bottom: 12px;
  }
}

.section-seperator {
  background-image: url(../images/line.png);
  background-position: 50% 50%;
  display: block;
  height: 37px;
  margin-bottom: 48px;
}

.section-seperator.section-seperator--eop {
  margin-bottom: 0;
}

.malayalam-text {
  font-family: "malayalam-font";
}

.biriyani-details {
  background-color: #f8f8f3;
  margin-bottom: 24px;
}

.biriyani-details img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;
}

.biriyani-details h2 {
  font-size: .9rem;
  font-family: initial;
  margin-bottom: 12px;
  letter-spacing: 2px;
}

.biriyani-details p {
  margin-bottom: 32px;
}

.img-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-map {
  width: calc(50% - 12px/2);
  margin-bottom: 36px;
}

.shop-map img {
  max-width: 100%;
  width: 100%;
}

.aspect-ratio-10 {
  position: relative;
  height: 0%;
  padding-top: 40%;
  width: 50%;
  overflow: hidden;
  width: calc(50% - 12px/2);
  margin-bottom: 36px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rashi-imag {
  width: 100%;
  margin-bottom: 12px;
}

.rashi {
  width: 100%;
  max-width: 100%;
  padding-bottom: 45px;
}

.magzen-pages {
  margin: auto;
  width: 90%;
}

.magzen-pages img {
  width: 100%;
  padding-bottom: 40px;
}

.suprete {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

@media (max-width: 686px) {
  .img-map {
    display: block;
  }
  .shop-map {
    margin-bottom: 36px;
    width: 100%;
    max-width: 100%;
  }
  .shop-map img {
    max-width: 100%;
    width: 100%;
  }
  .shop-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop-map {
    width: 100%;
    margin-bottom: 12px;
  }
  .shop-map img {
    max-width: 100%;
    width: 100%;
  }
  .aspect-ratio-10 {
    position: relative;
    height: 300px;
    padding-top: 40%;
    width: 100%;
    overflow: hidden;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .rashi-imag {
    width: 100%;
    padding-bottom: 12px;
  }
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-details h2 {
  padding-bottom: 12px;
  font-size: .9rem;
}

.form-details {
  width: calc(100% - 300px);
  padding-right: 36px;
}

form {
  width: 100%;
  max-width: 100%;
}

label {
  margin-bottom: 24px;
  display: block;
}

.label-text {
  font-size: .9rem;
}

input, textarea {
  padding: 5px;
  font-family: sans-serif;
  width: 100%;
}

button {
  width: 120px;
  padding: 10px;
  background-color: darkgray;
  border: none;
}

.address-details {
  width: 300px;
  background-color: rgba(225, 223, 223, 0.535);
  padding: 12px 12px 0 12px;
}

.address p {
  line-height: 1.5rem;
  font-family: sans-serif;
  font-size: .9rem;
}

.address-name {
  font-size: 1.5rem;
  text-transform: capitalize;
  display: block;
}

.address-name_sec {
  text-transform: capitalize;
  font-weight: bold;
}

.address-map {
  margin: auto;
  padding-top: 30px;
  width: 100%;
  height: 300px;
}

.address-map .aspect-ratio-10 {
  position: relative;
  height: 0%;
  width: 100%;
  height: 200px;
  margin-bottom: 36px;
  z-index: .1;
}

.address-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  .contact-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-details {
    width: 100%;
    max-width: 100%;
    margin-bottom: 36px;
    padding-right: 0;
  }
  .address-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .address {
    width: calc(50% - 12px/2);
    padding: 12px;
    background-color: rgba(225, 223, 223, 0.535);
  }
  .address-map {
    width: calc(50% - 12px/2);
    margin: 0;
    padding-top: 0;
    padding: 12px;
    background-color: rgba(225, 223, 223, 0.535);
  }
}

@media (max-width: 650px) {
  .address-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 100%;
    background-color: white;
  }
  .address {
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    max-width: 100%;
    background-color: rgba(225, 223, 223, 0.535);
  }
  .address-map {
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding: 12px;
    background-color: rgba(225, 223, 223, 0.535);
  }
}
/*# sourceMappingURL=scanna.css.map */