body {
    background: url(../images/bg.jpg);
    background-size: contain;
    background-color: #e00000;
    background-repeat: no-repeat;
    background-size: fixed;
    }


hr {
    border: 0;
   }

h1,h2,h3 {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

P {
    font-family: poppins;
}
    