.chocolate-products {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0 0 0;
  }

.prod-item-choco {
    width: calc(24% - 32px/4);
    // background-color: red;
    position: relative;
    padding: 12px;
    margin-bottom: 48px;
    // border: 1px solid rgb(198, 174, 64);
    text-align: center;
    transition: .1s;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;

    img{
     width: 100%;
     max-width: 100%;
    }
  }



 
    @media (max-width: 604px) {
    .prod-item-choco {
        width: 100%;
        }
    }

.prod-item-choco img {
    max-width: 100%;
    width: 100%;
    display: block;
    border-radius: 8%;
    margin-bottom: 6px;
  }
.prod-item-choco img:hover {
    z-index: .4;
    transform: scale(01.01, 01.01);
    }
@media (max-width: 686px) {
   .prod-item-choco {
        width: calc(33.33% - 32px/3);
        position: relative;
        padding: 12px;
        margin-top: 48px;
        text-align: center;
        transition: .1s;
        }}

    @media (max-width: 686px) {
    .prod-item-desc-hover {
        position: static;
        color: rgb(28, 2, 2);
        background-color: white;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        transition: .3s;
        }}

     @media (max-width: 604px) {
    .prod-item-choco {
        width: 100%;
        }   
     }

