.contact-details {
	display: flex;

}
form {
	width: calc(100% - 300px);
	padding-right: 36px;

}

label {
	margin-bottom: 24px;
	display: block;
	
	}

.label-text {
	font-size: .9rem;
	}

input, textarea {
	padding: 5px;
	font-family: sans-serif;
	width: 100%;
	}

button {
	width: 120px;
	padding: 10px;
	background-color: rgb(169, 169, 169);
	
	border: none;	
	}

.address-details {
	width: 300px; 
	padding: 12px;
	background-color:rgba(225, 223, 223, 0.535);
}

.address-details h3 {
	padding-bottom: 12px;
}

.address p {
	line-height: 1.5rem;
}
.address-map {
	margin: auto;
	padding-top: 30px;



	img {
		width: 100%;
		padding: 0;
	}
}
