body {
    background-color: #4d2e19;
     }

hr {
    border: 0;
   }

h1,h2,h3 {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

P {
    font-family: poppins;
}
    