.main-nav {
    margin-top: auto;
    // width: 400px;
    margin-left: auto;
    padding-bottom: 10px; 
    display: flex;
    }
    
.main-nav a {
    color: #61391e;
    text-decoration: none;
    }

.nav-link + .nav-link  {
    margin-left: 12px;
    }

.nav-link {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    }

.is-active {
    border-bottom: 2px solid rgb(233, 191, 101);;
    }
    
.dropdown-content {
    position: absolute;
    min-width: 200px;
    transform: translateX(-59px);
    transform-origin: center center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.46);
    pointer-events: none;
    opacity: 0;
    z-index: 99;
    transition: opacity .5s;
    background-color: #e9e7e7;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
    }

.dropdown-content a {
    display: block;
    color: #4d2e19;
    padding: 11px;
    text-decoration: none;
    }

.dropdown img {
    width: 12px;
    }

.dropdown-content a:hover {
    background-color:rgb(233, 191, 101);
    }

.dropdown:hover .dropdown-content {
    // display: block;
    opacity: 1;
    pointer-events: auto;
    }

@media(max-width: 634px){
    .main-nav {
        margin-right: auto;
        }
    }
    
// @media(max-width: 466px){
//     .main-nav {
//         // display: none;
//         // margin-left: auto;
//         }
//     }