.main-header {
    display: flex;
    padding-bottom: 24px;
    width: 100%;
    max-width: 100%;
    margin-top: 96px;
    position: relative;
    transition: .3s margin-bottom;
    background-color: inherit;
    z-index: 9;

   &:before {
        content: '';        
        background-image: url(../images/teeth-top.png);
        background-repeat: repeat-x;
        background-position: top 0;
        position: absolute;
        top: -46px;
        left: -64px;
        right: -64px;
        height: 48px;
        }
    &:after {
        content: '';
        position: absolute;
        top: 0; bottom: 22px; right: 0; left: 0;
        background-color: inherit;
        z-index: -1;
        }
    }    
@media (max-width: 749px) {
    .main-header:before {
        left: -32px;
        right: -32px;
        }
    }
.home-header .header-wrapper {
    width: 100%;
    display: flex;
    // max-width: calc(100% - 20px);
    margin: auto;
    }

// @media(max-width: 634px){
//     .main-header {
//         flex-direction: column;
//         }
//     }


@media(max-width: 634px){
    .logo {
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 32px;
        }
    }
@media(max-width: 466px){
    .logo {
        margin-bottom: 0;
        }
    }
@media(max-width: 375px){
    .main-header {
        margin-top: 0;
        padding-top: 24px;
        }
    }

    




