.main-footer {
    width: 100%;
    max-width: 1000px;
    
    margin: auto;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    }

.social-media {
    width: 100px;
    display: flex;
    justify-content: space-between;
    }
.social-media a {
    text-decoration: none;
    }
