.products {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:48px; 
    }

.prod-item {
    width: calc(33.33% - 24px/3);
    position: relative;
    margin-bottom: 35px;
    // border: 2px solid rgb(157, 157, 157);
    text-align: center;
    transition: .1s;
    }

.prod-item img {
    max-width: 100%;
    width: 100%;
    display: block;
    }

.prod-item:hover {
    // border: 2px solid rgb(70, 13, 13);
    z-index: .4;
    transform: scale(01.01, 01.01);
    }

    @media (max-width: 604px) {
    .prod-item {
        width: 100%;
        }
    }
    
@media (max-width: 686px) {
    .prod-item-desc-hover {
        position: static;
        color: rgb(28, 2, 2);
        background-color: white;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        transition: .3s;
        }
    }

