.products {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:48px; 
    }

.prod-item {
    width: calc(33.33% - 24px/3);
    position: relative;
    margin-bottom: 24px;
    }

@media (max-width: 604px) {
    .prod-item {
        width: 100%;
        }
    }

.prod-item img {
    max-width: 100%;
    width: 100%;
    display: block;
    }


.prod-item-desc-hover {
    position: absolute;
    top: 12px;
    bottom: 12px;
    right: 12px;
    left: 12px;
    color: rgb(28, 2, 2);
    background-color: rgba(255, 205, 7, 0.583);
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    }

.prod-item:hover .prod-item-desc-hover {
        opacity: 1;
        visibility: visible;
        }
    
@media (max-width: 686px) {
    .prod-item-desc-hover {
        position: static;
        color: rgb(28, 2, 2);
        background-color: white;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        transition: .3s;
        }
    }