.qb-intro {
    display: flex;
    border: 18px solid white;
    border-radius: 10px;
    box-shadow: 0 0 1px #222;
    padding: 24px;
    margin-bottom: 32px;

    h2 span {
        display: none;
        }
    }

.qb-intro-content {
    margin-right: 32px;
    }

@media (max-width: 686px) {
    .qb-intro {
        flex-direction: column;
        }
    .qb-intro-content {
        order: 1;
        margin-right: 0;

        h2 {
            text-align: center;

            img{
                max-width: 100%;
            }
            }
        }
    .qb-intro-image {
        margin: auto;
        margin-bottom: 32px;


        img {
            max-width: 100%;
            }
        }
    }

