// .shop-details {
    
//     }

.img-map {
    display: flex;
    justify-content: space-between;
    }

.shop-map {  
    width: calc(50% - 12px/2);
    margin-bottom: 36px;

   img {
    max-width: 100%;
    width: 100%;
        }
    }

.aspect-ratio-10 {
    position: relative;
    height: 0%;
    padding-top: 40%;
    width: 50%;
    overflow: hidden;
    width: calc(50% - 12px/2);
    margin-bottom: 36px;
    }
iframe {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    }

.rashi-imag {
    width: 100%;
    margin-bottom: 12px;
    // background-color: rgb(220, 217, 217);
    }

.rashi {
    width: 100%;
    max-width: 100%;
    padding-bottom: 45px;
    }

.magzen-pages {
    // background-color: blue;
    margin: auto;
    width: 90%;

    }

.magzen-pages img {
    width: 100%;
    padding-bottom: 40px;
}





.suprete {
    width: 100%;
    margin: auto;
    display: flex;
    height: 600px;
    margin-top: 15px;
    }

 @media (max-width: 686px) {
    .img-map {
        display: block;
        }

    .shop-map {  
        margin-bottom: 36px;
        width: 100%;
        max-width: 100%;

        img {
            max-width: 100%;
            width: 100%;
            }
        }

    .shop-details {
        flex-direction: column;
        }

    .shop-map {  
        width: 100%;
        margin-bottom: 12px;

        img {
            max-width: 100%;
            width: 100%;
            } 
        }

    .aspect-ratio-10 {
        position: relative;
        height: 300px;
        padding-top: 40%;
        width: 100%;
        overflow: hidden;
        }
    iframe {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        }  

    .rashi-imag {
        width: 100%;
        padding-bottom: 12px;
        }    

        }